.album-list-wrapper {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  margin-bottom: 100px;

  @media (max-width: $mobile) {
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  }
}

.album-wrapper {
  .album-page-head {
    margin-bottom: 30px;
  }

  .bg-cover {
    bottom: 0;
    left: 0;
    opacity: .1;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;

    img {
      filter: blur(10px);
      position: absolute;
      top: 50%;
      transform: translateY(-50%) translateZ(0);
      width: 100%;
    }
  }

  .album-page {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 300px 1fr;

    @media (max-width: $mobile) {
      display: block;
    }

    @media (max-width: $tablet) {
      display: block;
    }

    img {
      border-radius: 5px;
      display: block;
      margin-bottom: 10px;
      width: 100%;

      @media (max-width: $mobile) {
        display: none;
      }

      @media (max-width: $tablet) {
        max-width: 250px;
      }
    }
  }
}
