
.album-list-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 30px;
    margin-bottom: 100px;

    @media (max-width: $mobile) {
        grid-gap: 15px;
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    }
}

.album-wrapper {

    .album-page-head {
        margin-bottom: 30px;
    }

    .bg-cover {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        z-index: -1;
        opacity: 0.1;
        
        img {
            width: 100%;
            transform: translateY(-50%) translateZ(0);
            top: 50%;
            position: absolute;
            filter: blur(10px);
        }

    }

    .album-page {
        display: grid;
        grid-template-columns: 300px 1fr;
        grid-gap: 40px;

        @media (max-width: $mobile) {
            display: block;
        }

        @media (max-width: $tablet) {
            display: block;
        }
        
        img {
            width: 100%;
            display: block;
            border-radius: 5px;
            margin-bottom: 10px;
            
            @media (max-width: $mobile) {
                display: none;
            }

            @media (max-width: $tablet) {
                max-width: 250px;
            }
        }
    }
}

.album {
    cursor: pointer;
    transition: all ease 0.15s;
    position: relative;
    font-weight: bold;

    &:hover {
        transform: scale(1.02);

        .playing-btn,
        .add-btn,
        .del-btn {
            visibility: visible;
        }

        @media (max-width: $mobile) {
            .playing-btn {
                display: none;
            }
        }
    }

    .img {
        position: relative;
        border-radius: 5px;
        display: block;
        padding-bottom: 100%;
        margin-bottom: 10px;

        img {
            position: absolute;
        }
    }
    
    &.active {

        @keyframes InfiniteBox {
            0%   { box-shadow: 0 0 0 0 $primary-color; }
            50% { box-shadow: 0 0 0 5px $primary-color; }
            100% { box-shadow: 0 0 0 0 $primary-color; }
        }
        @keyframes InfiniteIcon {
            0%   { transform: translate(-50%, -50%) scale(1);}
            50% { transform: translate(-50%, -50%) scale(1.1); }
            100% { transform: translate(-50%, -50%) scale(1);}
        }

        > .playing-btn {
            visibility: hidden;
        }

        .img {
            animation: InfiniteBox 3s infinite;
            
            &::after {
                $size: 45px;
                font-family: 'beardify';
                content: "h"; 
                position: absolute;
                left: 50%;
                top: 0;
                transform: translate(-50%, -50%);
                color: white;
                font-size: 1.3rem;
                background: $primary-color;
                padding: 10px 12px;
                border-radius: $size;
                animation: InfiniteIcon 3s infinite;
                width: $size;
                height: $size
            }
    
            // &:before {
            //     position: absolute;
            //     top: 0;
            //     right: 0;
            //     bottom: 0;
            //     left: 0;
            //     content: "";
            //     background: $primary-color;
            //     // mix-blend-mode: color;
            //     border-radius: 5px;
            // }
        }
    }

    .add-btn,
    .del-btn {
        position: absolute;
        top: 0;
        padding: 10px;
        visibility: hidden;
        font-size: 1.7rem;
        transition: all ease 0.15s;
        transform: scale(1);
        color: black;

        &:before {
            $inset: 15px;
            background: white;
            position: absolute;
            top: $inset;
            left: $inset;
            right: $inset;
            bottom: $inset + 5px;
            content: "";
            z-index: -1;
            border-radius: 10px;
        }
    
        &:hover {
            transform: scale(1.1);
        }
    }

    .add-btn {
        right: 0;
    }

    .del-btn {
        left: 0;
    }

    .playing-btn {
        $size: 60px;
        position: absolute;
        top: 42%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 2.3rem;
        height: $size;
        width: $size;
        background: rgba(black, 0.8);
        display: grid;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        visibility: hidden;
        transition: all ease 0.15s;

        i {
            position: relative;
            display: grid;
            align-items: center;
            justify-items: center;
        }

        &:hover {
            transform:  translate(-50%, -50%) scale(1.1);
            background: rgba(black, 1);
        }
    }

    .date {
        font-style: italic;
        font-weight: normal;
        opacity: 0.6;
        font-size: 0.9rem;
        margin-top: 5px;
    }

    img {
        width: 100%;
        display: block;
        margin-bottom: 10px;
        border-radius: 5px;
    }
}
