
.drawer {
    position : relative;

    > div {
        padding: 50px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: auto;
        display: grid;
        align-content: flex-start;
        padding-top: 100px;

        @media (max-width: $mobile) {
            padding: 10px;
        }

        @media (max-width: $tablet) {
            padding: 20px;
            padding-top: 100px;
        }
    }

    .heading-page {
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: 10px;
        font-family: 'Exo 2';
        
        @media (max-width: $mobile) {
            margin-top: 70px;
        }
    }   

    .artist-wrapper {
        grid-template-columns: 1fr 300px;
        grid-gap: 30px;
        
        @media (max-width: $mobile) {
            grid-template-columns: 1fr ;
        }

        .links {
            a {
                margin-right: 15px;
                opacity: 0.5;

                &:hover {
                    opacity: 1;
                }
            }

            i {
                position: relative;
                top: 2px;
                margin-right: 5px;
            }
        }

        .related-artists {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            font-weight: bold;
    
            .related-artist {
                display: grid;
                grid-template-columns: auto 1fr;
                align-items: center;
                cursor: pointer;
                padding: 10px;
                border-radius: 5px;
    
                &:hover {
                    background: rgba(black, 0.2);
                }
            }
    
            img {
                $size: 82px;
                width: $size;
                height: $size;
                border-radius: 100px;
                margin-right: 10px;
                display: block;
            }
        }

        .top-tracks {
            img {
                border-radius: 5px;
                width: 30px;
                height: 30px;
                margin-right: 20px;
                display: block;
            }
        }
    
        .artist-head {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 30px;
            margin: 50px 0;

            @media (max-width: $mobile) {
                display: block;
            }
        }
    
        .video-wrapper {
            padding: 0 30px;
            border-left: 1px solid rgba(white, 0.05);

            @media (max-width: $mobile) {
                display: none;
            }
    
            .video-frame {
                margin-bottom: 30px;
            }
    
            .video {
                margin-bottom: 10px;
            }
    
            .video-title {
                font-weight: bold;
            }
    
            .video-channel {
                opacity: 0.6;
                font-style: italic;
            }
        }
    }

    .track {
        display: grid;
        grid-template-columns: auto 1fr auto;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
        padding: 2px 10px;
        border-radius: 5px;
        padding: 5px 10px;
        cursor: pointer;

        .track-artist,
        .track-album,
        .track-title {
            width: 14vw;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &:hover {
            background: rgba(black, 0.2);
        }

        i {
            font-size: 1.1rem;
            margin-right: 10px;
            opacity: 0.2;

            &.icon-discogs {
                color: rgb(37, 114, 202);
                opacity: 1;
            }
            &.icon-pizza {
                color: rgb(97, 202, 37);
                opacity: 1;
            }
        }
        
        &.album-page {
            padding: 7px 10px;
            grid-template-columns: auto 30px 1fr auto;
            grid-gap: 10px;
            
        }

        &.playlist-page {
            padding: 7px 10px;
            grid-template-columns: auto 1fr 1fr 1fr auto;
            justify-content: space-between;
        }

        &.active {
            background: $primary-color;
            color: white;

            i {
               opacity: 1;
            }
        }
    }
}
