.modal-container {
    position: fixed;
    top: 0; 
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
}

.overlay {
    content: "";
    top: 0; 
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
    position: absolute;
    background: rgba(black, 0.8);
}
.modal {
    position: absolute;
    background: #090a0c;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale(1.2);
    border-radius: 5px;
    z-index: 10;
    
    .head {
        font-weight: bold;
        font-size: 1.2rem;
        padding: 15px;
        border-bottom: 1px solid #20242b;
    }
    
    .chest {
        padding: 15px 10px;
        max-height: 40vh;
        overflow: auto;
    }

    .foot {
        border-top: 1px solid #20242b;
        padding: 15px;
    }
}
