.player {
  border-top: 1px solid #191f27;
  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-content: space-between;
  justify-items: center;
  padding: 10px;
  position: relative;

  @media (max-width: $tablet) {
    display: block;
  }

  > div {
    align-self: center;
  }

  .range {
    align-items: baseline;
    display: grid;
    grid-template-columns: auto 1fr auto;
    position: relative;

    input[type="range"] {
      opacity: 0;
      padding: 10px;
      padding-bottom: 5px;
      position: relative;
      top: -2px;
      transition: opacity ease .15s;
      width: 30vw;

      @media (max-width: $tablet) {
        width: 100%;
      }
    }
  }

  .progress {
    background: rgba(black, .45);
    border-radius: 10px;
    height: 8px;
    left: 10px;
    position: absolute;
    right: 20px;
    top: 14px;
    z-index: -1;

    .progress-current {
      background: $primary-color;
      border-radius: 10px;
      bottom: 0;
      left: 0;
      position: absolute;
      top: 0;
      width: 100px;
    }
  }

  .cover {
    border-radius: 5px;
    display: block;
    width: 60px;
  }

  .current {
    align-items: end;
    display: grid;
    grid-template-columns: auto 1fr;

    img {
      border-radius: 5px;
      cursor: pointer;
      display: block;
      margin-right: 15px;
    }

    .progress {
      left: 37px;
      right: 37px;
    }

    .track {
      font-weight: bold;
    }

    .time {
      opacity: .6;
    }
  }

  .controls {
    align-content: center;
    align-items: center;
    display: grid;
    grid-auto-flow: column;

    @media (max-width: $tablet) {
      justify-content: center;
    }
  }

  button {
    $size: 40px;
    background: none;
    border: 0;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    font-size: 1.6rem;
    height: $size;
    line-height: 0;
    position: relative;
    top: -5px;
    width: $size;

    &:hover {
      border: 1px solid rgba(255, 255, 255, .1);
    }

    &.active {
      background: $primary-color;
    }

    &.play {
      $size: 60px;
      background: rgba(255, 255, 255, .05);
      font-size: 2.6rem;
      height: $size;
      margin: 0 10px;
      top: 0;
      width: $size;

      &:hover {
        background: rgba(255, 255, 255, .1);
        border: 1px solid rgba(255, 255, 255, 0);
      }

      @media (max-width: $tablet) {
        $size: 50px;
        font-size: 2rem;
        height: $size;
        width: $size;
      }
    }
  }

  .options {
    align-items: center;
    display: grid;
    grid-auto-flow: column;
    padding-right: 10px;
    position: relative;
    top: 15px;

    @media (max-width: $tablet) {
      position: absolute;
      right: 0;
    }

    input[type="range"] {
      padding: 10px;
      padding-bottom: 5px;
      position: relative;
      top: -4px;
      width: 140px;
    }
  }
}
