.player {
    display: grid;
    grid-template-columns: auto 1fr auto;
    justify-content: space-between;
    justify-items: center;
    padding: 10px;
    border-top: 1px solid #191f27;
    position: relative;

    @media (max-width: $tablet) {
        display: block;
    }

    > div {
        align-self: center;
    }

    .range {
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: baseline;
        position: relative;

        &:hover {
            input[type=range] {
                opacity: 1;
            }
        }
    
        input[type=range] {
            width: 30vw;
            position: relative;
            top: -2px;
            padding: 10px;
            padding-bottom: 5px;
            transition: opacity ease .15s;
            opacity: 0;

            @media (max-width: $tablet) {
                width: 100%;
            }
        }
    }

    .progress {
        position: absolute;
        background: rgba(black, 0.45);
        left: 10px;
        right: 20px;
        height: 8px;
        z-index: -1;
        border-radius: 10px;
        top: 14px;

        .progress-current {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 100px;
            border-radius: 10px;
            background:$primary-color;
        }
    }

    .cover {
        width: 60px;
        display: block;
        border-radius: 5px;
    }

    .current {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: end;

        img {
            margin-right: 15px;
            cursor: pointer;
            display: block;
            border-radius: 5px;
        }

        .progress {
            left: 37px;
            right: 37px;
        }

        .track {
            font-weight: bold;
        }

        .time {
            opacity: 0.6;
        }        
    }

    .controls {
        align-content: center;
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        
        @media (max-width: $tablet) {
            justify-content: center;
        }
    }


    button {
        $size : 40px;
        border: 0; 
        background: none;
        color: white;
        font-size: 1.6rem;
        border-radius: 30px;
        height: $size;
        width: $size;
        line-height: 0;
        cursor: pointer;
        position: relative;
        top: - 5px;

        &:hover {
            border: 1px solid rgba(255,255,255, 0.1); 
        }

        &.active {
            background: $primary-color;
        }

        &.play {
            $size : 60px;
            font-size: 2.6rem;
            height: $size;
            width: $size;
            margin: 0 10px;
            background: rgba(255,255,255, 0.05);
            top: 0;

            &:hover {
                border: 1px solid rgba(255,255,255, 0); 
                background: rgba(255,255,255, 0.1);
            }

            @media (max-width: $tablet) {
                $size : 50px;
                font-size: 2rem;
                height: $size;
                width: $size;
            }
        }
    }

    .options {
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        top: 15px;
        position: relative;
        padding-right: 10px;

        @media (max-width: $tablet) {
            position: absolute;
            right: 0;
        }
        
        input[type=range] {
            width: 140px;
            position: relative;
            top: -4px;
            padding: 10px;
            padding-bottom: 5px;
        }
    }
}
