.player {
    display: grid;
    grid-template-columns: auto 1fr auto;
    justify-content: space-between;
    justify-items: center;
    padding: 0 10px;
    border-top: 1px solid #191f27;
    position: relative;

    > div {
        align-self: center;
    }

    .cover {
        width: 60px;
        display: block;
        border-radius: 5px;
    }

    .current {
        display: grid;
        grid-auto-flow: column;
        align-items: end;

        img {
            margin-right: 15px;
            cursor: pointer;
            display: block;
            border-radius: 5px;
        }

        .track {
            font-weight: bold;
        }

        .time {
            opacity: 0.6;
        }

        .range {
            display: grid;
            grid-auto-flow: column;
            align-items: baseline;
        
            input[type=range] {
                width: 30vw;
                position: relative;
                top: -2px;
                padding: 10px;
                padding-bottom: 5px;
            }
        }
    }

    .controls {
        align-content: center;
        display: grid;
        grid-auto-flow: column;
        align-items: center;
    }


    button {
        $size : 40px;
        border: 0; 
        background: none;
        color: white;
        font-size: 1.6rem;
        border-radius: 30px;
        height: $size;
        width: $size;
        line-height: 0;
        cursor: pointer;
        position: relative;
        top: - 5px;

        &:hover {
            border: 1px solid rgba(255,255,255, 0.1); 
        }

        &.active {
            background: $primary-color;
        }

        &.play {
            $size : 60px;
            font-size: 2.6rem;
            height: $size;
            width: $size;
            margin: 0 10px;
            background: rgba(255,255,255, 0.05);
            top: 0;

            &:hover {
                border: 1px solid rgba(255,255,255, 0); 
                background: rgba(255,255,255, 0.1);
            }
        }

    }

    .options {
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        top: 4px;
        position: relative;
        padding-right: 10px;
        
        input[type=range] {
            width: 100px;
            position: relative;
            top: -4px;
            padding: 10px;
            padding-bottom: 5px;
        }
    }
}
