@import "../variables";

.topbar {
    padding: 20px;
}


.search {
    position: relative;
    z-index: 999;

    input {
        background: #191f27;
        width: 100%;
        border: 0;
        padding: 10px 15px;
        color: white;
        font-weight: bold;
        font-size: 1.2rem;
        border-radius: 5px;

        &:focus {
            outline: none;
            border-radius: 5px 5px 0 0;
        }
    }

    .results {
        position: absolute;
        right: 0;
        left:0;
        background: #191f27;
        max-height: 80vh;
        overflow: hidden;
        display: grid;
        grid-template-columns: 1.2fr 2fr 2.5fr;
        padding: 20px;
        border-top: 1px solid #222933;
        border-radius: 0 0 5px 5px;

        .title {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 10px;
            color: $primary-color;
        }
    }
}
