@import "./colors";

.button {
  background-color: var(--bg-color-light);
  border: 0;
  border-radius: 0.3rem;
  color: var(--font-color-dark);
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  line-height: 1.5;
  padding: 0.3rem 1.1rem;
  text-align: center;
  text-decoration: none;
  white-space: pre;

  &:hover {
    background-color: var(--bg-color-lighter);
    color: var(--font-color-light);
  }

  &:active {
    background-color: var(--bg-color-lighter);
  }

  &--full {
    text-align: left;
    width: 100%;
  }

  &--with-border {
    border: 1px solid var(--bg-color-lighter);
  }

  &--primary {
    background-color: var(--primary-color);
    color: white;

    &:hover {
      background-color: var(--primary-color-light);
      color: white;
    }

    &:active {
      background-color: var(--primary-color-lighter);
      color: white;
    }
  }

  &--nude {
    background-color: transparent;

    &:hover {
      background-color: var(--bg-color);
    }

    &:active {
      background-color: var(--bg-color-light);
    }
  }

  &--small {
    font-size: 0.9rem;
    padding: 0.2rem 0.5rem;
  }

  &--x-small {
    font-size: 0.8rem;
    padding: 0.1rem 0.5rem;
  }
}
