@import "./colors";

.button {
  background-color: var(--bg-color-lighter);
  border: 0;
  cursor: pointer;
  font-weight: 700;
  color: rgba(white, 0.8);
  padding: 10px 20px;
  border-radius: 3px;

  &:hover {
    background-color: var(--bg-color-lighter);
    color: white;
  }

  &--primary {
    background-color: var(--primary-color);
    color: white;

    &:hover {
      background-color: var(--primary-color-light);
      color: white;
    }
  }

  &--small {
    padding: 5px 10px;
  }

  &--x-small {
    font-size: 0.8rem;
    padding: 3px 7px 4px;
  }
}
