:root {
  // Primary
  --primary-color-darker: #402d6e;
  --primary-color-dark: #543a97;
  --primary-color: #6d49c9;
  --primary-color-light: #7a50e4;
  --primary-color-lighter: #9064ff;

  // Bg
  --bg-color-darker: #15181d;
  --bg-color-dark: #181b21;
  --bg-color: #1b1e26;
  --bg-color-light: #21242e;
  --bg-color-lighter: #272a35;
  --font-color: #d5dbe0;
}
