:root {
  // Primary
  --primary-color-darker: #402d6e;
  --primary-color-dark: #543a97;
  --primary-color: #9064ff;
  --primary-color-light: #7a50e4;
  --primary-color-lighter: #9064ff;

  // Bg
  --bg-color-darker: #15181d;
  --bg-color-dark: #181b21;
  --bg-color: #1b1e26;
  --bg-color-light: #21242e;
  --bg-color-lighter: #272a35;
  --font-color-dark: #929ea8;
  --font-color: #b0bac2;
  --font-color-light: #e3e8ec;
}
