$primary-color-dark: #543a97;
$primary-color: #6d49c9;
$primary-color-light: #7a50e4;
$primary-color-lighter: #8352ff;

$bg-color-darker: #15181d;
$bg-color-dark: #181b21;
$bg-color: #1b1e26;
$bg-color-light: #262a36;
$bg-color-lighter: #303546;
