$primary-color-dark: #543a97;
$primary-color: #6243b0;
$primary-color-light: #7552cf;
$primary-color-lighter: #885afc;

$bg-color-darker: #15181d;
$bg-color-dark: #181b21;
$bg-color: #1b1e26;
$bg-color-light: #262a36;
$bg-color-lighter: #303546;
