@use "@/assets/scss/mixins" as *;

.heading {
  @include font-bold;

  color: var(--primary-color);
  padding: 0.8rem 0;
  text-transform: uppercase;

  &.sticky {
    background-color: var(--bg-color-darker);
    position: sticky;
    top: 0;
    z-index: 3;
  }
}
