@keyframes popContent {
  from {
    opacity: 0;
  }
}

.active {
  // background-color: var(--primary-color-darker) !important;
  color: var(--primary-color) !important;

  &:hover {
    // background-color: var(--primary-color-darker) !important;
    color: var(--primary-color) !important;
  }
}
