@keyframes pop-content {
  from {
    opacity: 0;
  }
}

.active {
  $test: var(--primary-color-darker);

  background-color: rgb(74 75 103 / 15%);
  color: var(--primary-color) !important;

  &:hover {
    color: var(--primary-color) !important;
  }
}
