@mixin squircle {
  /* stylelint-disable-next-line property-no-unknown */
  corner-shape: squircle;
}

@mixin font-bold {
  font-variation-settings:
    "slnt" var(--font-variation-slnt),
    "wdth" var(--font-variation-wdth),
    "GRAD" var(--font-variation-grad),
    "ROND" var(--font-variation-rond),
    "wght" var(--font-variation-wght-bold);

  @supports not font-tech(variations) {
    /* stylelint-disable-next-line no-invalid-position-declaration */
    font-weight: 700;
  }
}

@mixin font-italic {
  @supports not font-tech(variations) {
    /* stylelint-disable-next-line no-invalid-position-declaration */
    font-style: italic;
  }

  font-variation-settings:
    "slnt" var(--font-variation-slnt-italic),
    "wdth" var(--font-variation-wdth),
    "GRAD" var(--font-variation-grad),
    "ROND" var(--font-variation-rond),
    "wght" var(--font-variation-wght);
}

@mixin font-bold-italic {
  @supports not font-tech(variations) {
    /* stylelint-disable-next-line no-invalid-position-declaration */
    font-style: italic;
    /* stylelint-disable-next-line no-invalid-position-declaration */
    font-weight: 700;
  }

  font-style: normal;
  font-variation-settings:
    "slnt" var(--font-variation-slnt-italic),
    "wdth" var(--font-variation-wdth),
    "GRAD" var(--font-variation-grad),
    "ROND" var(--font-variation-rond),
    "wght" var(--font-variation-wght-bold);
}

@keyframes pop-content {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.active {
  $test: var(--primary-color-darker);

  background-color: var(--bg-color);
  color: var(--primary-color) !important;

  &:hover {
    color: var(--primary-color) !important;
  }

  i {
    opacity: 1 !important;
  }
}
