$mobile-width: 20rem;
$xl: 62rem;
$l: 57rem;

@mixin mobile {
  @media (max-width: $mobile-width) {
    @content;
  }
}

@mixin xl {
  @media (max-width: $xl) {
    @content;
  }
}

@mixin l {
  @media (max-width: $l) {
    @content;
  }
}
