// Module responsive pour être utilisé avec @use
// Compatibilité avec Dart Sass 3.0.0

$mobile-width: 20rem;
$l: 1930px;
$xl: 2000px;
$fourk: 2560px;

@mixin mobile {
  // Mobile breakpoint - use max-width for broader compatibility
  @media (max-width: $mobile-width) {
    @content;
  }
}

@mixin l {
  @media (min-width: $l) {
    @content;
  }
}

@mixin xl {
  @media (min-width: $xl) {
    @content;
  }
}

@mixin hdpi {
  @media (min-width: $fourk) {
    @content;
  }
}
