$mobile-width: 20rem;
$l: 1930px;
$xl: 2000px;
$fourk: 2560px;

@mixin mobile {
  // @media

  @media (width <= $mobile-width) {
    @content;
  }
}

@mixin l {
  @media (min-width: $l) {
    @content;
  }
}

@mixin xl {
  @media (min-width: $xl) {
    @content;
  }
}

@mixin hdpi {
  @media (min-width: $fourk) {
    @content;
  }
}
