@import "./_variables";

@import "./modules/_topbar";
@import "./modules/_sidebar";
@import "./modules/_player";
@import "./modules/_input-range";

*, *::after, *::before {
    box-sizing: border-box;
}

i {
    vertical-align: middle;
}

button {
    &:focus {
        outline: none;
    }
}

body { 
    font-family: "Roboto Condensed";
    background: #11151b;
    color: white;
    min-height: 100vh;

    // SCROLLBAR
    ::-webkit-scrollbar {
        width: 17px;
    }

    ::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0);
    }

    ::-webkit-scrollbar-thumb {
        background-color: $primary-color;
        border: 5px solid #11151b;
        border-radius: 20px;
    }
}


.app {
    display: grid;
    grid-template-columns: 300px 1fr;
    height: 100vh;
}

.drawer {
    position : relative;

    > div {
        padding: 30px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: auto;
    }

    .artist-name {
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .album-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 30px;
    }

    .album {
        img {
            width: 100%;
            display: block;
            margin-bottom: 10px;
            border-radius: 5px;
        }
    }
}

.content {
    display: grid;
    grid-template-rows: auto 1fr 80px;
}


.search-cover-image {
    position: relative;
    float: left; 
    margin-right: 10px;
    cursor: pointer;

    img {
        transition: all ease-in-out 0.15s;
        border-radius: 5px;
        width: 40px;
    }

    &:hover {
        img {
            border-radius: 50px;
        }

        &::before {
            position: absolute;
            content: "";
            background: rgba(0, 0, 0, 0.6);
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            border-radius: 50px;
            width: 40px;
            height: 40px;
        }

        &::after {
            position: absolute;
            content: "🎵";
            top: 50%;
            left: 50%;
            z-index: 2;
            transform: translate(-50%, -50%)
        }
        
    }
}

.track-icon {
    opacity: 0.2;
    float: left;
    font-size: 1.8rem;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }
}

