// Colors
$primary-color: #00bcc5;
$secondary-color: #5d9c3f;
$bg-color: #11151b;

// Responsive
$mobile: 500px;
$tablet: 1200px;

@import "./Blocks/App";
@import "./Blocks/Album";
@import "./Blocks/Artist";
@import "./Blocks/BottomBar";
@import "./Blocks/Cover";
@import "./Blocks/Device";
@import "./Blocks/Heading";
@import "./Blocks/Helper";
@import "./Blocks/Modal";
@import "./Blocks/Normalise";
@import "./Blocks/Page";
@import "./Blocks/Playlist";
@import "./Blocks/Player";
@import "./Blocks/Search";
@import "./Blocks/Sidebar";
@import "./Blocks/Topbar";
@import "./Blocks/Track";
