@import "./_variables";


*, *::after, *::before {
    box-sizing: border-box;
}

body, html {
    min-height: 100%;
    overflow-x: hidden;
}

i {
    vertical-align: middle;
    line-height: 0;
}

button {
    &:focus {
        outline: none;
    }
}

a {
    cursor: pointer;
    text-decoration: none;
    color: white;

    &:hover {
        color: $primary-color
    }
}

body { 
    font-family: "Roboto Condensed";
    background: $bg-color;
    color: white;

    ::-webkit-scrollbar {
        width: 17px;
    }

    ::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0);
    }

    ::-webkit-scrollbar-thumb {
        background-color: $primary-color;
        border: 5px solid #11151b;
        border-radius: 20px;
    }
}
