@import "./_variables";


*, *::after, *::before {
    box-sizing: border-box;
}

i {
    vertical-align: middle;
}

button {
    &:focus {
        outline: none;
    }
}

a {
    cursor: pointer;
    text-decoration: none;
    color: white;

    &:hover {
        border-bottom: 1px solid $primary-color;
        color: $primary-color
    }
}

body { 
    font-family: "Roboto Condensed";
    background: #11151b;
    color: white;
    min-height: 100vh;

    ::-webkit-scrollbar {
        width: 17px;
    }

    ::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0);
    }

    ::-webkit-scrollbar-thumb {
        background-color: $primary-color;
        border: 5px solid #11151b;
        border-radius: 20px;
    }
}
