@charset "UTF-8";

@font-face {
  font-family: "beardify";
  src:url("fonts/beardify.eot");
  src:url("fonts/beardify.eot?#iefix") format("embedded-opentype"),
    url("fonts/beardify.woff") format("woff"),
    url("fonts/beardify.ttf") format("truetype"),
    url("fonts/beardify.svg#beardify") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "beardify" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "beardify" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pause:before {
  content: "\61";
}
.icon-play:before {
  content: "\62";
}
.icon-stop:before {
  content: "\63";
}
.icon-to-end:before {
  content: "\64";
}
.icon-to-start:before {
  content: "\65";
}
.icon-shuffle:before {
  content: "\66";
}
.icon-loop:before {
  content: "\67";
}
.icon-mute:before {
  content: "\69";
}
.icon-bell:before {
  content: "\6b";
}
.icon-bookmark:before {
  content: "\6a";
}
.icon-magnifying-glass:before {
  content: "\6c";
}
.icon-mic:before {
  content: "\6d";
}
.icon-home:before {
  content: "\70";
}
.icon-collection:before {
  content: "\6f";
}
.icon-folder:before {
  content: "\72";
}
.icon-music:before {
  content: "\75";
}
.icon-playlist:before {
  content: "\76";
}
.icon-del:before {
  content: "\71";
}
.icon-sputnik:before {
  content: "\6e";
}
.icon-wikipedia:before {
  content: "\74";
}
.icon-allmusic:before {
  content: "\77";
}
.icon-question:before {
  content: "\41";
}
.icon-loader:before {
  content: "\42";
}
.icon-check-empty:before {
  content: "\43";
}
.icon-checked:before {
  content: "\44";
}
.icon-tv:before {
  content: "\48";
}
.icon-speaker:before {
  content: "\4a";
}
.icon-gameconsole:before {
  content: "\4b";
}
.icon-castvideo:before {
  content: "\4d";
}
.icon-unknown:before {
  content: "\4f";
}
.icon-automobile:before {
  content: "\51";
}
.icon-audiodongle:before {
  content: "\49";
}
.icon-computer:before {
  content: "\4c";
}
.icon-tablet:before {
  content: "\45";
}
.icon-smartphone:before {
  content: "\46";
}
.icon-sound:before {
  content: "\47";
}
.icon-discogs:before {
  content: "\68";
}
.icon-pizza:before {
  content: "\78";
}
.icon-avr:before {
  content: "\79";
}
.icon-stb:before {
  content: "\7a";
}
.icon-previous:before {
  content: "\4e";
}
.icon-next:before {
  content: "\50";
}
.icon-spotify:before {
  content: "\52";
}
.icon-add:before {
  content: "\53";
}
