@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?v3nw2c');
  src:  url('fonts/icomoon.eot?v3nw2c#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?v3nw2c') format('truetype'),
    url('fonts/icomoon.woff?v3nw2c') format('woff'),
    url('fonts/icomoon.svg?v3nw2c#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-discogs:before {
  content: "\e919";
}
.icon-rym:before {
  content: "\e92a";
}
.icon-sputnik:before {
  content: "\e918";
}
.icon-google:before {
  content: "\e917";
}
.icon-wikipedia:before {
  content: "\e915";
}
.icon-single:before {
  content: "\e924";
}
.icon-youtube:before {
  content: "\e92c";
}
.icon-airplay:before {
  content: "\e900";
}
.icon-arrow-left:before {
  content: "\e91a";
}
.icon-arrow-right:before {
  content: "\e91b";
}
.icon-chevron-down:before {
  content: "\e91c";
}
.icon-chevron-left:before {
  content: "\e91d";
}
.icon-chevron-right:before {
  content: "\e91e";
}
.icon-chevron-up:before {
  content: "\e91f";
}
.icon-circle:before {
  content: "\e929";
}
.icon-album:before {
  content: "\e923";
}
.icon-fast-forward:before {
  content: "\e901";
}
.icon-file-text:before {
  content: "\e902";
}
.icon-folder:before {
  content: "\e903";
}
.icon-headphones:before {
  content: "\e904";
}
.icon-heart:before {
  content: "\e905";
}
.icon-compilation:before {
  content: "\e925";
}
.icon-moon:before {
  content: "\e927";
}
.icon-music:before {
  content: "\e906";
}
.icon-play1:before {
  content: "\e907";
}
.icon-repeat:before {
  content: "\e908";
}
.icon-rewind:before {
  content: "\e909";
}
.icon-refresh:before {
  content: "\e92b";
}
.icon-save:before {
  content: "\e926";
}
.icon-search:before {
  content: "\e916";
}
.icon-settings:before {
  content: "\e90a";
}
.icon-skip-back:before {
  content: "\e90b";
}
.icon-skip-forward:before {
  content: "\e90c";
}
.icon-square:before {
  content: "\e90d";
}
.icon-sun:before {
  content: "\e928";
}
.icon-trash:before {
  content: "\e920";
}
.icon-trash-2:before {
  content: "\e921";
}
.icon-volume:before {
  content: "\e90e";
}
.icon-volume-1:before {
  content: "\e90f";
}
.icon-volume-2:before {
  content: "\e910";
}
.icon-volume-x:before {
  content: "\e911";
}
.icon-x:before {
  content: "\e922";
}
.icon-skip-forward1:before {
  content: "\e912";
}
.icon-pause:before {
  content: "\e913";
}
.icon-play:before {
  content: "\e914";
}
