@font-face {
    font-family: "Beardify";
    src: url("fonts/Beardify.woff2") format("woff2"),
        url("fonts/Beardify.ttf") format("truetype"),
        url("fonts/Beardify.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
.icon, [class^="icon-"], [class*=" icon-"] {
    /* Use !important to prevent extensions from overriding this font. */
    font-family: "Beardify" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-menu:before {
    content: "\f07c";
}
.icon-instagram:before {
    content: "\f419";
}
.icon-link:before {
    content: "\f192";
}
.icon-soundcloud:before {
    content: "\f24f";
}
.icon-bandcamp:before {
    content: "\fba4";
}
.icon-twitter:before {
    content: "\f111";
}
.icon-youtube:before {
    content: "\f1b6";
}
.icon-facebook:before {
    content: "\f240";
}
.icon-queue:before {
    content: "\e944";
}
.icon-note:before {
    content: "\e943";
}
.icon-follow:before {
    content: "\e941";
}
.icon-followed:before {
    content: "\e942";
}
.icon-lastfm:before {
    content: "\e936";
}
.icon-spotify:before {
    content: "\e934";
}
.icon-beardify:before {
    content: "\e940";
}
.icon-ep:before {
    content: "\e93f";
}
.icon-discogs:before {
    content: "\e919";
}
.icon-rym:before {
    content: "\e92a";
}
.icon-sputnik:before {
    content: "\e918";
}
.icon-google:before {
    content: "\e917";
}
.icon-wikipedia:before {
    content: "\e915";
}
.icon-single:before {
    content: "\e924";
}
.icon-check:before {
    content: "\e93e";
}
.icon-arrow-down-left:before {
    content: "\e91a";
}
.icon-arrow-down-right:before {
    content: "\e91b";
}
.icon-arrow-up-left:before {
    content: "\e938";
}
.icon-arrow-up-right:before {
    content: "\e939";
}
.icon-arrow-right:before {
    content: "\e93a";
}
.icon-arrow-left:before {
    content: "\e93b";
}
.icon-arrow-down:before {
    content: "\e93c";
}
.icon-arrow-up:before {
    content: "\e93d";
}
.icon-podcast:before {
    content: "\e937";
}
.icon-public:before {
    content: "\e935";
}
.icon-collaborative:before {
    content: "\e933";
}
.icon-airplay:before {
    content: "\e900";
}
.icon-chevron-down:before {
    content: "\e91c";
}
.icon-chevron-left:before {
    content: "\e91d";
}
.icon-chevron-right:before {
    content: "\e91e";
}
.icon-chevron-up:before {
    content: "\e91f";
}
.icon-circle:before {
    content: "\e929";
}
.icon-album:before {
    content: "\e923";
}
.icon-edit-3:before {
    content: "\e92f";
}
.icon-fast-forward:before {
    content: "\e901";
}
.icon-file-text:before {
    content: "\e902";
}
.icon-folder:before {
    content: "\e903";
}
.icon-headphones:before {
    content: "\e904";
}
.icon-heart:before {
    content: "\e905";
}
.icon-compilation:before {
    content: "\e925";
}
.icon-moon:before {
    content: "\e927";
}
.icon-more-horizontal:before {
    content: "\e92d";
}
.icon-more-vertical:before {
    content: "\e92e";
}
.icon-music:before {
    content: "\e906";
}
.icon-play1:before {
    content: "\e907";
}
.icon-plus:before {
    content: "\e930";
}
.icon-repeat:before {
    content: "\e908";
}
.icon-rewind:before {
    content: "\e909";
}
.icon-refresh:before {
    content: "\e92b";
}
.icon-save:before {
    content: "\e926";
}
.icon-search:before {
    content: "\e916";
}
.icon-settings:before {
    content: "\e90a";
}
.icon-share:before {
    content: "\e931";
}
.icon-shuffle:before {
    content: "\e932";
}
.icon-skip-back:before {
    content: "\e90b";
}
.icon-skip-forward:before {
    content: "\e90c";
}
.icon-square:before {
    content: "\e90d";
}
.icon-sun:before {
    content: "\e928";
}
.icon-trash:before {
    content: "\e920";
}
.icon-trash-2:before {
    content: "\e921";
}
.icon-volume:before {
    content: "\e90e";
}
.icon-volume-1:before {
    content: "\e90f";
}
.icon-volume-2:before {
    content: "\e910";
}
.icon-volume-x:before {
    content: "\e911";
}
.icon-x:before {
    content: "\e922";
}
.icon-skip-forward1:before {
    content: "\e912";
}
.icon-pause:before {
    content: "\e913";
}
.icon-play:before {
    content: "\e914";
}