:root {
  --primary-color: #333;
  --background-color: #b01246;
  --secondary-color: #fafafa;
  width:100%;
  height:100%;
  font: 1rem/1.125rem Lato, sans-serif;
  color: var(--primary-color);
  background: var(--secondary-color);
}

* {
  box-sizing: border-box;
}

body {
  width: 640px;
  margin: 0 auto;
}

header > h1 {
  text-align: center;
  margin: 1em 0;
  color: var(--primary-color);
  font-size: 60px;
  line-height: 1px;
}

main {
  padding: 10px;
}

nav {
  text-align: center;
}

button {
  font-size: 1.2rem;
  margin: 0 10px;
}

.GithubIcon {
  position: absolute;
  top:15px;
  right: 15px;
  border: 1px solid rgba(255, 255, 255, .3);
  border-radius: 4px;
  color: #999;
  text-decoration: none;
}

.GithubIcon img {
  width: 96px;
  height: 96px;
  float: left;
}

.GithubIcon span {
  color: var(--primary-color);
  display: block;
  text-align: center;
}
