@use "../Color"
;
.Album {
  &List {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin-bottom: 30px;
  }

  &__cover {
    border-radius: 3px;
    display: block;
    margin-bottom: 10px;
    width: 100%;
  }

  &__link {
    display: block;
    position: relative;
  }

  &__name {
    font-weight: 700;
  }

  &__play {
    $size: 60px;
    // background: Color.$primary;
    border: 0;
    border-radius: $size;
    cursor: pointer;
    font-size: 2rem;
    height: $size;
    left: 50%;
    outline: 0;
    padding-top: 10px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all ease .2s;
    width: $size;

    &:hover {
      transform: translate(-50%, -50%) scale(1.1);
    }
  }

  &__release {
    font-size:.9rem;
    font-style: italic;
    opacity: .4;
  }
}
