@use "../Color";
@use "sass:color";

.List {
  &.unstyled {
    list-style: none;
    margin: 0;
    padding: 10px 5px;
  }

  &__collaborativeIcon {
    color: Color.$primary;
    font-size: .8rem;
    margin-right: 5px
  }

  &__icon {
    margin-right: 7px;
    opacity: .3;
    position: relative;
    top: 3px;
  }

  &__item {
    border-radius: 3px;
    cursor: pointer;
    padding: 3px 9px;

    &:hover {
      color: #fff;
    }

    &.active {
      color: Color.$primary;
    }
  }
}
