@use "../Color";
@use "sass:color";

.Notif {
  bottom: 100px;
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
  position: absolute;
  right: 20px;
  top: 0;
  z-index: 999;

  &__actions {
    display: grid;
    gap: 10px;
    grid-auto-flow: column;
    justify-content: start;
    margin-top: 10px;
  }

  &__btn {
    background: rgba(0, 0, 0, .25);
  }

  &__item {
    border-radius: 3px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, .5);
    font-weight: 700;
    margin-top: 10px;
    max-width: 400px;
    padding: 15px 20px;

    &.danger {
      background: Color.$danger;
      border-left: 10px solid color.scale(Color.$danger, $lightness: -25%);
    }

    &.info {
      background: Color.$primary;
      border-left: 10px solid color.scale(Color.$primary, $lightness: -25%);
    }

    &.success {
      background: Color.$success;
      border-left: 10px solid color.scale(Color.$success, $lightness: -25%);
    }

    &.warning {
      background: Color.$warning;
      border-left: 10px solid color.scale(Color.$warning, $lightness: -25%);
    }
  }

  &__desc {
    margin: 0;
  }
}
