@use "../Color";

.Player {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 0 15px;

  &Control {
    align-items: center;
    display: flex;
    margin-right: 20px;

    &__btn {
      --size: 40px;
      --color: rgba(255, 255, 255, .6);
      background: transparent;
      border: 0;
      border-radius: var(--size);
      color: var(--color);
      cursor: pointer;
      font-size: 1.8rem;
      height: var(--size);
      line-height: calc(var(--size) / 2);
      outline: 0;
      width: var(--size);

      &:hover {
        --color: rgba(255, 255, 255, .8);
      }

      &.play {
        --size: 60px;
        font-size: 2.6rem;
      }
    }
  }

  &Current {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;

    &__bar {
      align-items: center;
      display: grid;
      gap: 10px;
      grid-template-columns: auto 1fr auto;
      margin-top: 5px;
    }

    &__control {
      flex: 1;
      max-width: 75%;
    }

    &__cover {
      border-radius: 3px;
      display: block;
      height: 50px;
      margin-right: 10px;
    }

    &__song {
      font-weight: 700;
    }

    &__time {
      font-size: .8rem;
    }
  }
}

.Range {
  flex: 1;
  position: relative;

  &__input                                    {
    -webkit-appearance: none;
    background: rgba(255, 255, 255, .1);
    border-radius: 1.5rem;
    cursor: pointer;
    height: 5px;
    outline: 0;
    vertical-align: middle;
    width: 100%;

    &::-webkit-slider-thumb {
      $size: 12px;
      -webkit-appearance: none;
      appearance: none;
      background: white;
      border-radius: 50%;
      height: $size;
      padding: 5px 0;
      position: relative;
      transform: scale(0);
      transition: all ease .2s;
      width: $size;
      z-index: 9;
    }
  }

  &:hover {
    .Range__input::-webkit-slider-thumb  {
      transform: scale(1);
    }
  }

  &__progress {
    background: Color.$primary;
    border-radius: 3px;
    height: 5px;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}
