@use "sass:color";
@use "../Color";

.Search {
  position: relative;

  &__input {
    background: color.scale(Color.$background, $lightness: 1%);
    border: 1px solid Color.$border;
    border-radius: 50px;
    color: #fff;
    outline: 0;
    padding: 7px 20px;
    width: 100%;
  }

  &Result {
    background: color.scale(Color.$background, $lightness: 2%);
    border-radius: 3px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, .3);
    display: grid;
    grid-template-columns: 1fr 1.5fr 2fr;
    left: 0;
    position: absolute;
    right: 0;
    top: calc(100% + 7px);
    z-index: 1;

    &__title {
      color: Color.$primary;
      margin: 0;
      margin-bottom: 20px;
    }

    &__section {
      padding: 20px;
    }

    &__label {
      color: Color.$font;
      font-weight: 700;
      margin-left: 15px;
    }

    &__subLabel {
      margin-left: 15px;
    }

    &__img {
      --size: 45px;
      border-radius: 3px;
      height: var(--size);
      width: var(--size);

      &.artist {
        border-radius: var(--size);
      }

      &.track {
        --size: 30px;
      }
    }

    &Artist {
      &__item {
        align-items: center;
        border-radius: 3px;
        display: block;
        display: flex;
        padding: 10px;
        text-decoration: none;
        transition: all ease .2s;

        &.track {
          padding: 5px 10px;
        }

        &:hover {
          background: rgba(#000, .2);
          color: #fff;
          transform: scale(1.02)
        }
      }
    }
  }
}
