@use "../Color";
@use "sass:color";

.Sidebar {
  border-right: 1px solid Color.$border;
  display: flex;
  flex-basis: 280px;
  flex-direction: column;

  &__item {
    display: flex;
    flex: 1;
    flex-direction: column;
    font-weight: 700;
  }

  &__collections {
    border-bottom: 1px solid Color.$border;
    flex: 1;
  }

  &__playlists {
    flex: 1;
  }

  &__title {
    background: color.adjust(Color.$background, $lightness: 2%);
    border-bottom: 1px solid Color.$border;
    color: color.adjust(Color.$background, $lightness: 40%);
    font-size: .85rem;
    letter-spacing: .3px;
    padding: 8px 15px 5px;
    text-transform: uppercase;
  }
}
