.App {
  display: grid;
  grid-template-columns: 300px 1fr;
  height: 100vh;

  @media (max-width: $mobile) {
    grid-template-columns: 0 1fr;
  }

  &__content {
    display: grid;
    grid-template-rows: 0 1fr auto;

    @media (max-width: $mobile) {
      bottom: 0;
      display: grid;
      grid-template-rows: 0 1fr auto;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
    }
  }
}
