.Device {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: auto auto;

  &Select {
    align-content: center;
    display: grid;
    font-size: 1.6rem;
    padding: 0 20px;
    padding-top: 10px;
    position: relative;
    text-align: center;

    &__menu {
      background: darken(#232b37, 5);
      border-radius: 3px;
      bottom: calc(100% - 20px);
      color: rgba(white, .7);
      font-size: 1.1rem;
      left: 50%;
      opacity: 0;
      padding: 5px;
      position: absolute;
      text-align: left;
      transform: translateX(-50%);
      visibility: hidden;
    }

    &:hover {
      .DeviceSelect__menu {
        opacity: 1;
        visibility: visible;
      }
    }

    &__icon {
      font-size: 1.8rem;
    }

    &__id {
      font-size: .9rem;
      font-style: italic;
    }

    &__item {
      align-items: center;
      cursor: pointer;
      display: grid;
      grid-gap: 15px;
      grid-template-columns: auto 1fr;
      padding: 10px 20px 7px 17px;
      white-space: nowrap;

      &.active {
        color: $primary-color;
      }

      &:hover {
        background: #232b37;
      }
    }

    &__label {
      font-weight: 700;
      margin-bottom: 5px;
    }
  }

  &Volume {
    align-content: center;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: auto 1fr;
    padding-right: 20px;
    padding-top: 10px;
    position: relative;

    @media (max-width: $tablet) {
      position: absolute;
      right: 0;
    }
  }
}
