.Title {
  font-family: "Exo 2", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;

  @media (max-width: $mobile) {
    margin-top: 70px;
  }

  &Options {
    margin-bottom: 20px;
  }
}

.SubTitle {
  color: $primary-color;
  font-family: "Exo 2", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 15px;
  padding-left: 10px;
  text-transform: uppercase;
}
