.Modal {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9;

  &__overlay {
    background: rgba(black, .8);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9;
  }

  &__head {
    border-bottom: 1px solid #20242b;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 15px;
  }

  &__body {
    max-height: 40vh;
    overflow: auto;
    padding: 15px 10px;
  }

  &__foot {
    border-top: 1px solid #20242b;
    padding: 15px;
  }

  &Content {
    background: #090a0c;
    border-radius: 5px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0) scale(1.2);
    z-index: 10;
  }
}
