.Page {
  position: relative;

  &__content {
    align-content: flex-start;
    bottom: 0;
    display: grid;
    left: 0;
    overflow: auto;
    padding: 50px;
    padding-top: 100px;
    position: absolute;
    right: 0;
    top: 0;

    @media (max-width: $mobile) {
      padding: 10px;
    }

    @media (max-width: $tablet) {
      padding: 20px;
      padding-top: 100px;
    }
  }

  .artist-wrapper {
    grid-gap: 30px;
    grid-template-columns: 1fr 300px;

    @media (max-width: $mobile) {
      grid-template-columns: 1fr;
    }

    .links {
      a {
        margin-right: 15px;
        opacity: .5;

        &:hover {
          opacity: 1;
        }
      }

      i {
        margin-right: 5px;
        position: relative;
        top: 2px;
      }
    }

    .related-artists {
      display: grid;
      font-weight: bold;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

      .related-artist {
        align-items: center;
        border-radius: 5px;
        cursor: pointer;
        display: grid;
        grid-template-columns: auto 1fr;
        padding: 10px;

        &:hover {
          background: rgba(black, .2);
        }
      }

      img {
        $size: 82px;
        border-radius: 100px;
        display: block;
        height: $size;
        margin-right: 10px;
        width: $size;
      }
    }

    .top-tracks {
      img {
        border-radius: 5px;
        display: block;
        height: 30px;
        margin-right: 20px;
        width: 30px;
      }
    }

    .artist-head {
      display: grid;
      grid-gap: 30px;
      grid-template-columns: 1fr 1fr;
      margin: 50px 0;

      @media (max-width: $mobile) {
        display: block;
      }
    }

    .video-wrapper {
      border-left: 1px solid rgba(white, .05);
      padding: 0 30px;

      @media (max-width: $mobile) {
        display: none;
      }

      .video-frame {
        margin-bottom: 30px;
      }

      .video {
        margin-bottom: 10px;
      }

      .video-title {
        font-weight: bold;
      }

      .video-channel {
        font-style: italic;
        opacity: .6;
      }
    }
  }

  .bg-cover {
    bottom: 0;
    left: 0;
    opacity: .1;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;

    img {
      filter: blur(10px);
      position: absolute;
      top: 50%;
      transform: translateY(-50%) translateZ(0);
      width: 100%;
    }
  }

  .album-page {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 300px 1fr;

    @media (max-width: $mobile) {
      display: block;
    }

    @media (max-width: $tablet) {
      display: block;
    }

    img {
      border-radius: 5px;
      display: block;
      margin-bottom: 10px;
      width: 100%;

      @media (max-width: $mobile) {
        display: none;
      }

      @media (max-width: $tablet) {
        max-width: 250px;
      }
    }
  }
}
