.Track {
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  display: grid;
  font-weight: bold;
  grid-template-columns: auto 1fr auto;
  justify-content: space-between;
  position: relative;

  &__section {
    padding: 5px;

    &:nth-of-type(2) {
      padding-left: 12px;
    }

    &:last-of-type {
      padding-right: 12px;
    }

    &.overflow {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 13vw;
    }
  }

  &:hover {
    background: rgba(black, .2);
  }

  &__icon {
    font-size: 1.1rem;
    margin-right: 10px;
    opacity: .2;

    &.album {
      color: $primary-color;
      opacity: 1;
    }

    &.ep {
      color: #dec32f;
      opacity: 1;
    }
  }

  &.album {
    grid-gap: 10px;
    grid-template-columns: auto 30px 1fr auto;
  }

  &.playlist {
    grid-template-columns: auto 1fr 1fr 1fr auto;
    justify-content: space-between;
  }

  &.active {
    background: $primary-color;
    color: white;

    i {
      opacity: 1;
    }
  }

  &.selected {
    background: rgba($secondary-color, .2);
  }
}
