@use "../node_modules/normalize.css/normalize";
@use "Page/Login";

@use "Views/Artist";
@use "Views/Page";
@use "Views/Search";
@use "Views/Sidebar";
@use "Views/Topbar";
@use "Views/Device";
@use "Views/Player";

@use "Color";

.App {
  background: Color.$background;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__body {
    display: flex;
    flex: 1;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

i {
  line-height: 0;
}

body {
  color: rgba(#fff, .8);
  font-family: "Nunito Sans", sans-serif;
  font-weight: 200;
  line-height: 1.4;
}

h1 {
  font-weight: 200;
  margin: 0;
}
